<div class="section-head">
  <h3>Bookmarked</h3>
  <div class="nav-container">
    <div class='search'><a href="#/search">Search</a></div>
    <div class="logout"><a ng-click="logout()">Signout</a></div>
  </div>
</div>



<div class="results-container panel panel-default panel-fluid" ng-controller="favoritesController">

  <!-- <div class="list-group" ng-if="!hasFavorites">Please Add Favorites</div> -->
  <div class="business-card" ng-repeat="favorite in favorites | filter:userFilter">
    <divs class="list-group">
      <div class="business-name">{{ favorite.name }}</div>
      <div class="business-images"> 
        <img ng-src="{{ favorite.bizImage }}">          
        <img ng-src="{{ favorite.ratingImgUrl }}">
      </div>
      <div class="business-categories" ng-repeat="category in favorite.categories track by $index">
        {{ category }}
      </div>
      <div class="business-address">
        <div class="display_address" ng-repeat="line in favorite.displayAddress">
          <div class="address_line">
            {{ line }}<br>
          </div>
        </div>
      </div>
    </divs>
  </div>
</div>


<!-- <div class="text-center">
  <div class="favorites btn-group" ng-repeat="favorite in favorites | filter:userFilter">
    <button class="btn btn-lg btn-primary-outline btn-default" ng-click="test(favorite)">
      <ul class="list-group">
        <li class="biz list-group-item">
          <div>{{ favorite.name }}</div>
          <img ng-src="{{ favorite.bizImage }}">
          <img ng-src="{{ favorite.ratingImgUrl }}">
          <br>
          <span class="categories" ng-repeat="category in favorite.categories track by $index">
            {{ category }}
          </span>
          <br>
          <div class="address">
            <div class="display_address" ng-repeat="line in favorite.displayAddress">
              <div class="address_line">{{ line }}</div>
            </div>
          </div>
        </li>
      </ul>
    </button>
  </div>  
</div> -->