<div ng-controller="favoritesController">
  <h3>My Favorites!</h3>
<!-- HEADER BAR -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav nav-pills nav-justified">
        <li><a href="#/search">Search</a></li>
        <li><a ng-click="logout()">Signout</a></li>
      </ul>
    </div>
  </nav>
  <div class="list-group" ng-if="!hasFavorites">Please Add Favorites</div>
    <form class="input-group">
      <span class="input-group-addon">Filter Search</span>
      <input class="form-control" ng-model="userFilter">
    </form>
  <div class="favorites panel-body" ng-repeat="favorite in favorites | filter:userFilter">
    <ul class="list-group">
      <li class="list-group-item">
        <div>{{ favorite.name }}</div>
        <img ng-src="{{ favorite.bizImage }}">
        <img ng-src="{{ favorite.ratingImgUrl }}">
        <div class="categories" ng-repeat="category in favorite.categories track by $index">
          {{ category }}
        </div><br>
        <div class="address">
          <div class="display_address" ng-repeat="line in favorite.displayAddress">
            <div class="address_line">{{ line }}</div>
          </div>
        </div>
      </li>
    </ul>
</div>
