<h3>Searches!</h3>
<div class="nav-container">
  <ul class="">
    <li><a href="#/favorites">My Favorites</a></li>
    <li><a ng-click="logout()">Signout</a></li>
  </ul>
</div>

<div ng-controller="searchController" class="panel panel-default panel-fluid">

  <!-- SEARCH BAR -->
  <div class="search-container"> 
    <form name="yelp" class="search">
      <label for="category">Category:</label>
      <input name="yelpTerm" id="category" ng-model="term">
      <label for="city">City:</label>
      <input name="yelpLocation" id="city" ng-model="location">
      <button ng-click="yelpSearch(term, location)">Search</button> 
    </form>
  </div>

  <div class="filter-container"> 
    <form class="filter">
      <label>Filter</label>
      <input ng-model="userSearch">
    </form>
  </div>

  <!-- SEARCH RESULTS -->
  <div class="results-container">
    <div class="business-card" ng-dblclick="saveFavorite(business)" ng-click=(showDescription(business)) ng-repeat="business in businesses | filter:userSearch ">
      <ul class="list-group">
        <div class="business-name">{{ business.name }}</div>
        <div class="business-images"> 
          <img ng-src="{{ business.image_url }}">          
          <img ng-src="{{ business.rating_img_url_small }}">
        </div>
        <div class="business-categories" ng-repeat="category in business.categories">
          {{ category[0] }}
        </div>
        <div class="busines-address">
          <div class="display_address" ng-repeat="line in business.location.display_address">
            <div class="address_line">{{ line }}</div>
          </div>
        </div>
      </ul>
    </div>
</div>
