<h3>Searches!</h3>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-pills nav-justified">
      <li><a href="#/favorites">My Favorites</a></li>
      <li><a ng-click="logout()">Signout</a></li>
    </ul>
  </div>
</nav>

<div ng-controller="searchController" class="container-fluid panel panel-default panel-fluid">
  <!-- SEARCH BAR -->
  <form class="input-group">
    <span class="input-group-addon">Filter Search</span>
    <input class="form-control" ng-model="userSearch">
  </form>

  <!-- SEARCH RESULTS -->
  <div class="business panel-body" ng-repeat="business in businesses | filter:userSearch ">
    <ul class="list-group">
      <li class="list-group-item" ng-click="saveFavorite(business)">
        <div>{{ business.name }}</div>
        <img ng-src="{{ business.image_url }}">
        <img ng-src="{{ business.rating_img_url_small }}">
        <div class="categories" ng-repeat="category in business.categories">
          {{ category[0] }}
        </div><br>
        <div class="address">
          <div class="display_address" ng-repeat="line in business.location.display_address">
            <div class="address_line">{{ line }}</div>
          </div>
        </div>
      </li>
    </ul>
</div>
